header img{
	border-radius: 200px;
	width: 260px;
	height: 300px
}

#blog1 img{
	float: right;
	margin: 10px;
}

#blog2 img{
	float: left;
	margin: 10px;
}

article h2{
	font-size: 32px;
	color: #48BB78;
}
article h3{
	color: #718096;
}

aside{
	padding: 60px;
	font-size: 18px;
	color: #2D3748;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvitca Neue", Arial, "Noto Sans", sans-serif;
}

main{
	padding: 60px;
}

aside li{
	list-style: none;
	color: #4299E1;
}

aside ul h3{
	color: #48BB78;
}

.about{
	background-color: #E2E8F0;
	padding: 10px;
}

.about h3{
	color: #000000;
	font-family: 'Times New Roman', Times, serif;
}

header{
	display: flexbox;
	text-align: center;
	background-color: #63B3ED;
	color: #FFFFFF;
	padding: 20px;

}

header h1{
	font-size: 36px;
	font-family: Georgia, "Times New Roman", serif;
}

footer{
	display: flex;
	justify-content: center;
	background-color: #2C5282;
	color: #FFFFFF;
}


.container{
	display: grid;
	grid-template-columns: auto, auto, auto;
	grid-template-rows: auto, auto, auto, auto;
	grid-gap: 40px;
}

.container header{
	grid-column: 1 / 4;
	grid-row: 1;
}

.container main{
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

.container aside{
	grid-column: 3;
	grid-row: 2 / 3;
}

.container footer{
	grid-column: 1 / 4;
	grid-row: 4;
}